project_data/
generated_images/
sampled_images/
.ipynb_checkpoints/
__pycache__/
validated_images*/
generated*/
generated_images_new1/
validated_images_new/
weights_run_*/
weight_run_3/
logs/
classificationoutput.txt
classificationWeights/
